@use "../../shared/scss/" as *;

.location {
  display: flex;
  flex-direction: column;
  border: 1px solid #d7d9e8;
  border-radius: 16px;
  width: 370px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;

  &__area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;

    &--city {
      font-weight: 700;
      font-size: 18px;
    }

    &--separator {
      font-weight: 400;
      font-size: 18px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &--distance {
      font-weight: 400;
      font-size: 18px;
    }
  }

  &__pickup {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__status {
    color: $inactive;
    font-weight: 400;
    font-size: 14px;
  }
}
