@use "../../shared/scss/" as *;

.wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
  width: fit-content;
  padding: 56px;
  background: #ffffff;
  box-shadow: 0px 4px 65px rgba(84, 96, 200, 0.17);
  border-radius: 24px;

  &__background {
    position: absolute;
    z-index: -1;
    background-color: $blue;
    top: -58px;
    left: -58px;
    width: 470px;
    height: 902px;
    border-radius: 24px;
  }
}
